# Folders
/checkpoints
/comparison
/PreviousWorks
/saved_log
/Visualization
/comparison
/wandb

# Temps
/__pycache__
*/__pycache__/*

# local file for testing purposes
Visualization.ipynb
t_script.bash